.posts-wall {
    margin: auto;
    width: 50vw;
}

.post-body {
    background-color: #ffffff;
    margin-top: 15px;
    padding: 10px;
}

.post-info {
    margin-top: 15px;
}

.post-info div {
    margin-right: 15px;
}

.post-info-button {
    padding: 0px;
    margin-right: 0.25em;
    border: 0px !important;
}

.post-info-icon {
    padding: 0px;
    pointer-events: none;
}

.post-info-button:hover .post-info-icon {
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.post-comments {
    background-color: #ffffff;
    margin-top: 15px;
    padding: 10px;
}
