.posts-wall {
    margin: auto;
    width: 50vw;
    backgroud: #ffffff;
}

.card {
    margin-top: 15px;
}

.post-link, .post-link-icon {
    color: inherit;
    text-decoration: none;
}

.post-info {
    margin-top: 15px;
}

.post-info div {
    margin-right: 15px;
}

.post-info-button {
    padding: 0px;
    margin-right: 0.25em;
}
