.posts-wall {
    backgroud: #ffffff;
    margin: auto;
    width: 50vw;
}

.card {
    margin-top: 15px;
}

.post-link, .post-link-icon {
    color: inherit;
    text-decoration: none;
}

.post-link:hover, .post-link-icon:hover {
    color: #656565;
}

.user-link, .group-link {
    color: inherit;
    text-decoration: none;
}

.user-link:hover, .group-link:hover {
    color: #000;
}

.post-info {
    margin-top: 15px;
}

.post-info div {
    margin-right: 15px;
}

.post-info-button {
    margin-right: 0.25em;
    padding: 0px;
}
