.content-container {
    margin: 15px 0 0;
    margin-left: 15px;
}

.content-container:first-child {
    margin-top: 0px;
}

.user-username {
    font-family: 'Inter', sans-serif;
}

.post-link, .post-link-icon {
    color: inherit;
    text-decoration: none;
}

.user-link {
    color: inherit;
    text-decoration: none;
}

.user-link:hover {
    color: #606060;
}

.user-avatar {
    height: 100px;
    width: 100px;
}

.group-logo {
    height: 64px;
    width: 64px;
    margin-right: 15px;
}

.user-id {
    margin: 10px 0 0  15px;
}

.post-info {
    margin-top: 15px;
}

.post-info div {
    margin-right: 15px;
}

.post-info-button {
    margin-right: 0.25em;
    padding: 0px;
}

.main {
    width: 65vw;
    margin: 15px auto;
    padding: 15px;
}

.pills-wrapper {
    display: flex;
    justify-content: space-around;
}

.tab-content {
    width: 100%;
    margin: 0;
}

.profile-wrapper {
    display: flex;
    margin-left: 15px;
    justify-content: flex-start;
}

.bi-box-arrow-right:hover {
    color: #fff;
}

.bi-trash {
    font-size: 18px;
}

.exit-button-text {
    margin: 0 10px 10px 0;
}

.btn-danger {
    padding-bottom: 0;
}
