{% extends "base.html" %}

{% block extrahead %}
<link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid card form">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
      <div class="form-group form-field">
        {{ form.email.label(class="form-label label") }}
        {{ form.email(class="form-control form-control-md form-input") }}
      </div>
      <div class="form-group form-field">
        {{ form.password.label(class="form-label label") }}
        {{ form.password(class="form-control form-control-md form-input") }}
      </div>
      <div class="form-check form check">
        {{ form.remember(class="form-check-input checkbox") }}
        {{ form.remember.label(class="form-check-label label") }}
      </div>
      {{ form.submit(class="btn btn-outline-dark submit") }}
    </form>
</div>
{% endblock %}
