{% extends "base.html" %}

{% block extrahead %}
<link href="{{ url_for('static', filename='css/post.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="posts-wall d-flex flex-column justify-content-center bd-highlight">
   <div class="post-body">
      <h4>{{ post.title }}</h4>
      <p class="card-text"><small class="text-muted">{{ post.elapsed }} by {{ post.author.nickname }}</small></p>
      <p>{{ post.body }}</p>
      <div class="post-info d-flex flex-row align-items-center">
         <div class="post-info-category d-flex flex-row align-items-center">
            <button type="button" class="btn btn-default post-info-button" aria-label="like">
               <span class="material-icons icon-like smooth-transtion">favorite_border</span>
            </button>
            <h5>{{ post.likes }}</h5>
         </div>
         <div>
            <button type="button" class="btn btn-default post-info-button" aria-label="share">
               <span class="material-icons icon-share smooth-transtion">share</span>
            </button>
         </div>
      </div>
   </div>
   <div class="post-comments" id="comments">
      <h4>{{ post.comments }} Comments</h4>
   </div>
</div>
{% endblock %}
