{% extends "base.html" %}

{% block extrahead %}
<link href="{{ url_for('static', filename='css/groups.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/feed.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
<header class="header">
    <div class="header-wrapper">
        <div class="header-inner">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg" alt="{{ group.name }} logo" class="group__logo">
        </div>
        <div class="header-inner">
            <h4 class="group__title">{{ group.name }}</h4>
        </div>
        <div class="header-inner">
            <button class="btn btn-outline-dark subscribe__button">Подписаться</button>
        </div>
    </div>
</header>
<main class="main">
    <div class="posts-wall d-flex flex-column justify-content-center bd-highlight">
        {% for post in group.posts %}
            <div class="card">
              <div class="card-body">
                 <a class="post-link" href="posts/{{ post.id }}">
                    <span class="post-title">
                       <h4 class="card-title">{{ post.title }}</h4>
                    </span>
                 </a>
                 <p class="card-text">
                    <small class="text-muted">{{ post.elapsed }} by <a href="/users/{{ post.author.id }}" class="user-link">{{ post.author.nickname }}</a></small>
                 </p>
                 <a class="post-link" href="posts/{{ post.id }}">
                    <p class="card-text">{{ post.body }}</p>
                 </a>
                 <div class="post-info d-flex flex-row align-items-center">
                    <div class="post-info-category d-flex flex-row align-items-center">
                       <button type="button" class="btn btn-default post-info-button smooth-transtion" aria-label="like">
                          <i class="bi bi-heart like"></i>
                       </button>
                       <h5>{{ post.likes }}</h5>
                    </div>
                    <div class="post-info-category d-flex flex-row align-items-center">
                       <button type="button" class="btn btn-default post-info-button smooth-transtion" aria-label="like">
                          <a href="posts/{{ post.id }}#comments" class="post-link-icon">
                             <i class="bi bi-chat-right"></i>
                          </a>
                       </button>
                       <h5>{{ post.comments }}</h5>
                    </div>
                    <div>
                       <button type="button" class="btn btn-default post-info-button smooth-transtion" aria-label="share">
                          <i class="bi bi-share"></i>
                       </button>
                    </div>
                 </div>
              </div>
           </div>
        {% endfor %}
    </div>
    <div class="card description">
        <p class="group__description">{{ group.description }}</p>
        <p class="subscribers__count"><b>{{ group.subscribers }}</b> Участников</p>
    </div>
</main>
{% endblock %}
