{% extends "base.html" %}

{% block extrahead %}
<link href="{{ url_for('static', filename='css/user.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}{{ user.nickname }}{% endblock %}

{% block content %}
<div class="posts-wall d-flex flex-column justify-content-center bd-highlight">
   <h1 class="user-nickname">{{ user.nickname }}</h1>
   {% for post in user.posts %}
   <div class="card">
      <div class="card-body">
         <a class="post-link" href="{{ url_for('post', post_id=post.id) }}">
            <span class="post-title">
               <h4 class="card-title">{{ post.title }}</h4>
            </span>
         </a>
         <p class="card-text">
            <small class="text-muted">{{ post.elapsed }} by <a href="{{ url_for('user', user_id=post.author.id) }}" class="user-link">{{ post.author.nickname }}</a></small>
         </p>
         <a class="post-link" href="{{ url_for('post', post_id=post.id) }}">
            <p class="card-text">{{ post.body }}</p>
         </a>
         <div class="post-info d-flex flex-row align-items-center">
            <div class="post-info-category d-flex flex-row align-items-center">
               <button type="button" class="btn btn-default post-info-button smooth-transtion" aria-label="like">
                  <i class="bi bi-heart like"></i>
               </button>
               <h5>{{ post.likes }}</h5>
            </div>
            <div class="post-info-category d-flex flex-row align-items-center">
               <button type="button" class="btn btn-default post-info-button smooth-transtion" aria-label="like">
                  <a href="{{ url_for('post', post_id=post.id, _anchor='comments') }}" class="post-link-icon">
                     <i class="bi bi-chat-right"></i>
                  </a>
               </button>
               <h5>{{ post.comments }}</h5>
            </div>
            <div>
               <button type="button" class="btn btn-default post-info-button smooth-transtion" aria-label="share">
                  <i class="bi bi-share"></i>
               </button>
            </div>
         </div>
      </div>
   </div>
   {% endfor %}
</div>
{% endblock %}
